.shop-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.shop-item:first-child {
  margin-top: 15px;
}

.shop-img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;
  margin: auto 0;
}

.shop-text {
  width: calc(100% - 120px);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shop-text h3 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.shop-text small {
  font-size: .7em;
  color: rgb(0 0 0 / 50%);
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shop-text span {
  width: 50px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  order: 2;
  font-size: .8em;
  align-items: center;
  font-weight: bold;
}

.shop-text svg {
  color: #ffb400;
  width: 20px;
  margin-right: 5px;
}

.shop-page-container {
  position: fixed;
  background: #fff;
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
  z-index: 48;
}

.shop-page-container header {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
  transition: all .3s ease-in-out;
}

.shop-page-container header.activo {
  position: -webkit-sticky;
  position: sticky;
  top: -190px;
  z-index: 5;
  background: #fff;
}

.shop-page-container header.activo::before {
  content: " ";
  background: #fff;
  width: 100%;
  height: 135px;
  top: 0;
  position: fixed;
  left: 0;
}

.shop-page-header-background {
  height: 250px;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 10%);
  transition: all .25s ease-in-out;
}

.shop-page-container header.activo .shop-page-header-background {
  opacity: .5;
}

.shop-page-header-logo {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 50px);
  box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 10%);
}

.shop-page-container main h3 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.1rem;
  
}

.shop-page-title {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  z-index: 5;
  background: #fff;
}

.shop-page-container main {
  padding: 0 10px;
  font-size: .85rem;
}

.shop-page-descripcion-direccion {
  text-decoration: none;
  font-size: inherit;
  margin: 0;
  opacity: .8;
  display: flex;
  flex-direction: row;
}

.shop-page-descripcion-direccion svg {
  width: 10px;
  margin-right: 5px;
}
.shop-page-descripcion-direccion a {
  text-decoration: none;
  color: rgb(var(--text-secondary));
}

.shop-page-descripcion-larga {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  opacity: .8;
  color: rgb(var(--text-secondary));
  margin-bottom: 0;
}

.shop-page-menu-categorias {
  position: -webkit-sticky;
  position: sticky;
  top: 155px;
  background: #fff;
  padding: 10px 0;
  z-index: 5;
}

.shop-page-menu-categorias ul {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  width: fit-content;
  white-space: nowrap;
  margin: 0;
  
}

.shop-page-menu-categorias ul li {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 15px;
  background: rgb(0 0 0 / 5%);
  color: rgb(var(--text-secondary));
  cursor: pointer;
}

.shop-page-menu-categorias ul li.activo {
  background: rgb(0 0 0 / 15%);
  font-weight: 600;
}

.shop-page-menu-categorias-group {
  display: flex;
  justify-content: space-between;
}

.shop-page-menu-categoria-titulo {

}



.shop-page-menu-items-categorias {
  padding: 10px 15px;
  margin-bottom: 15px;
  color: #2c3e50;
}

.shop-page-menu-precios, .shop-page-menu-item-precio {
  display: flex;
  flex-direction: row;
  color: #646464;
}

.shop-page-menu-precios h3 {
  margin: 0 10px;
}

.shop-page-menu-categoria-titulo h3 {
  margin: 0!important;
}

.shop-page-menu-item h5 {
  margin: 10px 0 0 0;
  font-size: .8rem;
}

.shop-page-menu-item-precio h5 {
  margin: 10px 10px 0 10px;
  min-width: max-content;
  font-size: .8rem;
}

.shop-page-menu-item-contenedor small {
  font-size: .7rem;
  opacity: .8;
}

.shop-page-menu-recomendados {
  flex-direction: row;
  height: 250px;
  padding: 0;
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  margin: 0;
  align-items: center;
}

.shop-page-menu-item-recomendado {
  position: relative;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  min-width: 200px;
  max-width: 200px;
  height: 150px;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.shop-page-menu-item-recomendado::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index: 1;
}

.shop-page-menu-item-recomendado.activo {
  transform: scale(1.2);
  margin-right: 30px;
  margin-left: 20px;
}

.shop-page-menu-item-recomendado-imagen {
  z-index: 0;
}

.shop-page-menu-item-recomendado h1 {
  z-index: 2;
  color: #fff;
  font-size: 0.8rem;
  margin: 0 10px 0 10px;
}

.shop-page-menu-item-recomendado p {
  z-index: 2;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 10px 10px 10px;
}

.shop-page-menu-extras {
  transition: all .3s ease-in-out;
  position: fixed;
  bottom: -400px;
  height: 350px;
  width: 100%;
  left: 0;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -15px 20px 0px rgb(0 0 0 / 10%);
  z-index: -1;
}

.shop-page-menu-extras.activo {
  bottom: 0px;
  z-index: 50;
}

.shop-page-menu-extras-backdrop {
  backdrop-filter: blur(2px);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.shop-page-menu-extras-backdrop.activo {
  opacity: 1;
  z-index: 49;
}

.shop-page-menu-extras-contenedor-items {
  height: 200px;
  overflow: auto;
}

.shop-page-menu-extras h4 {
  margin-left: 10px;
}

.shop-page-menu-extras-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.shop-page-menu-extras-item h5 {
  width: 150px;
  margin: 10px;
}

.shop-page-menu-extras-item span {
  width: 80px;
  align-self: center;
}

.shop-page-menu-extras-item button {
  width: 50px;
}